/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@700');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');

/* Components */
@import url("components/banner.css");
@import url("components/container.css");
@import url("components/logo.css");
@import url("components/button.css");
@import url("components/card.css");
@import url("components/cards.css");
@import url("components/footer.css");
@import url("components/icons.css");

/* --- reseting margins to 0 --- */
* {
  box-sizing: border-box;
  margin: 0;
}

/* Utilities */
body {
  font-family: Helvetica Neue;
  color: #2C061F;
}

h1, h2, h3, h4, p {
  font-family: Roboto, Helvetica Neue, sans-serif;
}

a {
  text-decoration: none;
}

/* Custom design below! */
