.banner {
  position: relative;
  background-image: url('../../images/banner_image_1.jpg');
  background-size: cover;
  background-position: center;
  padding: 300px 0;
  background-color: rgb(226, 219, 219);
  color: white
}

.banner h1  {
  font-size: 56px;
  line-height: 1.5;
  text-shadow: 1px 1px 3px rgb(0 0 0 / 20%);
}

.banner p  {
  font-size: 24px;
  line-height: 1.5;
  text-shadow: 1px 1px 3px rgb(0 0 0 / 20%);
  margin-bottom: 35px;
}
