.btn-yellow {
  text-decoration: none;
  background-color: transparent;
  padding: 14px 20px;
  color: #fff;
  border: 2px solid #fff;
  transition: color 170ms ease-in-out, border-color 170ms ease-in-out;
  text-shadow: 1px 1px 3px rgb(0 0 0 / 20%);
  font-size: 18px;
  text-align: center;
  font-weight: 400;
  border-radius: 2px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.btn-yellow:hover {
  background-color: white;
  color: #2C061F;
  text-shadow: none;
}
